<div class="form-page-wrapper">
  <h2 class="form-title">Reset Password</h2>
  <%= form_for @changeset, Routes.password_reset_path(@conn, :create), [class: "form-page"], fn f -> %>
    <div class="form-group">
      <label for="email">Email</label>
      <%= email_input(f, :email, class: "form-control", id: "email") %>
      <div class="has-error"><%= error_tag(f, :email) %></div>
    </div>

    <%= submit("Submit", class: "btn btn-primary btn-lg") %>
  <% end %>
</div>
