<p>
  You will be added to the <%= @org.name %> org
</p>

<%= form_for @changeset, account_path(@conn, :accept_invite, @token), [as: :user], fn f -> %>
  <p>
    <label>
      Password:
      <%= password_input f, :password %>
      <%= error_tag f, :password %>
    </label>
  </p>

  <%= submit "Register" %>
<% end %>
