@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "highlight.js/styles/stackoverflow-light.css";
@import "leaflet/dist/leaflet.css";
@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css";

@import "xterm/css/xterm.css";
@import "mapbox-gl/dist/mapbox-gl.css";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css";

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0%,
  100% {
    box-shadow: 0 0 0 0 rgba(99, 102, 241, 1);
  }
  50% {
    box-shadow: 0 0 0 12px rgba(99, 102, 241, 0.85);
  }
}

@layer components {
  body {
    overflow-x: hidden;
  }

  .listing {
    @apply w-full border-base-700 grow;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .listing table {
    @apply w-full;
  }

  .listing thead tr {
    @apply h-11;
  }

  .listing tbody tr {
    @apply h-[52px];
  }

  .listing th {
    @apply bg-base-900 py-1.5 px-4 text-base-400 font-medium text-sm text-left;
  }

  .listing tr th:first-child {
    @apply pl-6;
  }

  .listing tr th:nth-child(2) {
    @apply px-0;
  }

  .listing tr td:first-child {
    @apply pl-6;
  }

  .listing tr td:nth-child(2) {
    @apply px-0;
  }

  .listing .checkbox {
    @apply h-11 w-16 py-3 px-6;
  }

  .listing .checkbox label {
    @apply border border-base-600 bg-base-800;
    display: flex;
    width: 16px;
    height: 16px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
  }

  .listing .checkbox label svg {
    flex-shrink: 0;
    width: 12px;
    height: 12px;
  }

  .listing .checkbox label:hover {
    @apply bg-base-700;
  }

  .listing .checkbox input:checked ~ label {
    @apply bg-purple-600;
  }

  .listing th.checkbox input,
  .listing td.checkbox input {
    display: none;
  }

  .listing tbody tr:hover {
    @apply bg-indigo-500/[.06];
  }

  .listing td {
    padding: 6px 16px;
    text-align: left;
  }

  .tag {
    @apply rounded-md bg-base-800;
    display: flex;
    padding: 2px 4px;
    align-items: center;
    gap: 8px;

    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  .title {
    line-height: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .subtitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }

  .badge {
    @apply rounded-sm bg-base-800 text-base-300 px-[4px] py-[2px];
    font-size: 12px;
  }

  .pager-button {
    @apply rounded-sm px-[12px] py-[6px];
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  .active-page {
    @apply bg-base-800;
  }

  .sidebar-slideover {
    @apply bg-base-900;
    /* #141417 */
    box-shadow: -8px 0px 16px 0px rgb(20 20 23 / 0.9);
  }

  .sidebar-title {
    @apply text-base-50;
    font-size: 16px;
    font-weight: 600;
    height: 32px;
    line-height: 32px;
  }

  .sidebar-label {
    @apply text-base-300 text-sm;
  }

  .sidebar-select {
    @apply w-full bg-base-900 text-base-400 rounded-[4px] text-sm px-2 py-[6px];
  }

  .sidebar-text-input {
    @apply w-full bg-base-900 text-base-400 rounded-[4px] text-sm px-2 py-[6px];
  }

  .sidebar-search {
    @apply flex items-center bg-base-900 text-base-400 border border-base-600 rounded-[4px] text-sm px-2 py-[6px];
    gap: 8px;
    padding: 8px 12px;
  }

  .sidebar-search input {
    @apply bg-transparent border-transparent text-base-400;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    height: 20px;
    padding: 0;
  }

  .sidebar-apply {
    @apply bg-purple-600 text-base-50 hover:scale-110;
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
  }

  .sidebar-button {
    @apply bg-base-800 border border-base-600 text-base-50 hover:border-base-400;
    display: flex;
    gap: 8px;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
  }

  .org-avatar {
    width: 32px;
    height: 32px;
    line-height: 32px;
    flex-shrink: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    @apply bg-base-800 text-base-500;
  }

  .menu-box {
    @apply bg-base-900 border border-base-700 py-[12px] px-[16px] rounded-md;
  }

  .org-selector-title {
    @apply text-base-50;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
  }
  .product-selector-title {
    @apply text-base-400;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .product-selector:hover .product-selector-icon {
    @apply bg-base-700;
  }

  .product-picker-product,
  .product-picker-product:link {
    @apply block text-base-300 py-[6px] px-4 bg-base-800 rounded;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  .clickable-table-row {
    position: relative;
    transform: translate(0);
  }

  .clickable-table-row-mask {
    position: absolute;
    inset: 0;
    z-index: 10;
    max-height: 52px;
  }

  .scrollable-inner {
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .pinned-device-tag-gradient-mask {
    position: absolute;
    top: 0;
    right: 16px;
    width: 50px;
    height: 100%;
    background-image: linear-gradient(
      to right,
      rgba(24, 24, 27, 0),
      rgba(24, 24, 27, 1)
    );
  }

  .device-show-tag-gradient-mask {
    position: absolute;
    top: 0;
    right: 16px;
    width: 50px;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(
      to right,
      rgba(24, 24, 27, 0),
      rgba(24, 24, 27, 1)
    );
  }

  .device-logs-gradient-mask {
    position: absolute;
    top: 0;
    right: 0px;
    width: 50px;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(
      to right,
      rgba(14, 16, 25, 0),
      rgba(14, 16, 25, 1)
    );
  }

  .pulsing-div {
    animation: fadeIn 1s ease-out 2s forwards, pulse 2s ease-in-out 3s infinite;

    opacity: 0;
  }
}

html {
  @apply text-zinc-300;
}
