<p>Hi <%= @user.name %>,</p>

<p>We received a request to reset your password on NervesHub. Click on the link below to begin:</p>

<a href="<%= password_reset_path(NervesHubWeb.Endpoint, :new_password_form, @user.password_reset_token) %>">Reset Password</a>

<p>The link is only valid for a short time.</p>
