# App artifacts
/_build
/deps/
/assets/node_modules/
/priv/plts
/tmp/

# Ignore assets that are produced by build tools.
/priv/static/assets/

# Ignore digested assets cache.
/priv/static/cache_manifest.json

# Generated on crash by the VM
erl_crash.dump

# Test artifact
test/fixtures/ssl/device-root-ca.srl

.elixir_ls
.vscode

.env*
.iex.exs
.lexical
.elixir-tools

.DS_Store
/cover/
