# App artifacts
/_build
/deps/
/assets/node_modules/
/priv/static/
/tmp/

# Generated on crash by the VM
erl_crash.dump

# Test artifact
test/fixtures/ssl/device-root-ca.srl

.elixir_ls
.vscode

.env*
.iex.exs
