<h1 class="text-center mb-5">Sponsors</h1>

<div class="row mb-5">
    <a href="https://www.smartrent.com/" class="mx-auto">
    <%= img_tag(Routes.static_path(@conn, "/images/sponsors/smartrent.svg"), style: "height:50px") %>
    </a>
</div>
<div class="row mb-5">
    <a href="https://www.alliedcomponentworks.com" class="mx-auto">
      <%= img_tag(Routes.static_path(@conn, "/images/sponsors/acw.svg"), style: "height:100px") %>
    </a>
</div>
