<div class="flex h-full flex-col">
  <.live_component module={NervesHubWeb.Components.CommandPalette} id="command-palette" current_scope={@current_scope} />
  <div class="border-b border-base-700 bg-surface-muted">
    <div class="flex h-14 w-sidebar shrink-0 items-center pl-6">
      <.link navigate={~p"/orgs"}>
        <.logo class="h-6" />
      </.link>
    </div>
    <div></div>
  </div>

  <div class="flex size-full flex-col items-center">
    <.flash_group flash={@flash} />

    {render_slot(@inner_block)}
  </div>

  <div class="fixed bottom-0">
    <div id="user-menu-container" class="hidden" phx-click-away={hide_user_menu()} phx-window-keydown={hide_user_menu()} phx-key="escape">
      <div id="user-menu" class="mx-3.5 mb-4 flex flex-col rounded-md border border-base-700 bg-surface-overlay p-2 shadow-lg">
        <div class="justify-left flex items-center gap-1.5 p-2 hover:rounded-md hover:bg-primary/20">
          <span class="lucide-user-round--light size-5 text-base-300" />
          <.link navigate={~p"/account"} class="text-sm font-light tracking-wide">Account</.link>
        </div>

        <div class="justify-left flex items-center gap-1.5 p-2 hover:rounded-md hover:bg-primary/20">
          <span class="lucide-log-out--light size-5 text-alert" />
          <.link navigate={~p"/logout"} class="text-sm font-light tracking-wide text-alert">Log out</.link>
        </div>

        <div aria-hidden="true" class="col-span-full -mx-1.5 my-1.5 h-px border-t border-base-700"></div>

        <div class="justify-left flex items-center gap-1.5 p-2 hover:rounded-md hover:bg-primary/20">
          <span class="lucide-book-open-text--light size-5 text-base-300" />
          <a href="https://docs.nerves-hub.org" class="text-sm font-light tracking-wide">Documentation</a>
        </div>

        <div aria-hidden="true" class="col-span-full -mx-1.5 my-1.5 h-px border-t border-base-700"></div>

        <div id="theme-selector" phx-update="ignore" class="ring-border relative isolate mt-2.5 mb-2 ml-2 flex h-8 w-fit gap-1.5 rounded-full p-1 ring-1 ring-base-700">
          <button
            id="theme-light"
            aria-label="Light theme"
            phx-hook="ThemeSwitcher"
            data-theme-option="light"
            class="group theme-selectors relative flex size-6 items-center justify-center rounded-full hover:border-primary data-[selected=true]:border-primary"
            type="button"
          >
            <div class="absolute inset-0 hidden rounded-full bg-primary/10 group-data-[selected=true]:flex"></div>
            <span class="lucide-sun--light size-5 text-base-600 group-hover:cursor-pointer group-hover:text-primary group-data-[selected=true]:text-primary" />
          </button>
          <button
            id="theme-dark"
            aria-label="Dark theme"
            phx-hook="ThemeSwitcher"
            data-theme-option="dark"
            class="group theme-selectors relative flex size-6 items-center justify-center rounded-full hover:border-primary data-[selected=true]:border-primary"
            type="button"
          >
            <div class="absolute inset-0 hidden rounded-full bg-primary/10 group-data-[selected=true]:flex"></div>
            <span class="lucide-moon--light size-5 text-base-600 group-hover:cursor-pointer group-hover:text-primary group-data-[selected=true]:text-primary" />
          </button>
          <button
            id="theme-system"
            aria-label="System theme"
            phx-hook="ThemeSwitcher"
            data-theme-option="system"
            class="group theme-selectors relative flex size-6 items-center justify-center rounded-full hover:border-primary data-[selected=true]:border-primary"
            type="button"
          >
            <div class="absolute inset-0 hidden rounded-full bg-primary/10 group-data-[selected=true]:flex"></div>
            <span class="lucide-monitor--light size-4.5 text-base-600 group-hover:cursor-pointer group-hover:text-primary group-data-[selected=true]:text-primary" />
          </button>
        </div>
      </div>
    </div>

    <a id="user-menu-toggle" href="#" class="mx-3 my-0.5 flex items-center gap-x-2.5 p-2 text-sm/6 font-semibold text-base-50 hover:rounded-lg hover:bg-primary/10" phx-click={toggle_user_menu()}>
      <.user_avatar user={@current_scope.user} />

      <div class="">
        <div class="sr-only">Your profile</div>
        <div aria-hidden="true" class="truncate text-sm font-light text-base-50">{@current_scope.user.name}</div>
        <div aria-hidden="true" class="truncate text-xs font-light text-base-400">{@current_scope.user.email}</div>
      </div>

      <span class="ml-auto lucide-chevrons-up-down--light size-4"></span>
    </a>
  </div>
</div>
