<!DOCTYPE html>
<html lang="en" class="bg-surface h-full" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />

    <meta name="description" content="" />
    <meta name="author" content="" />

    <link rel="icon" type="image/png" href={~p"/images/favicon-96x96.png"} sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href={~p"/images/favicon.svg"} />
    <link rel="shortcut icon" href={~p"/images/favicon.ico"} />

    <.live_title suffix={" · #{Application.get_env(:nerves_hub, :web_title_suffix)}"}>
      {assigns[:page_title] || "Welcome"}
    </.live_title>

    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    <script type="text/javascript">
      const handleThemeChangeEvent = (event) => {
        if (event.matches) {
          document.documentElement.setAttribute("data-theme", "light");
        } else {
          document.documentElement.setAttribute("data-theme", "dark");
        }
      }
      window.handleThemeChangeEvent = handleThemeChangeEvent

      function setupSystemTheme() {
        const lightModeQuery = window.matchMedia('(prefers-color-scheme: light)');

        if (window.matchMedia && lightModeQuery.matches) {
          document.documentElement.setAttribute("data-theme", "light");
        } else {
          document.documentElement.setAttribute("data-theme", "dark");
        }

        lightModeQuery.addEventListener('change', window.handleThemeChangeEvent);
      }

      function removeThemeEventListener() {
        const lightModeQuery = window.matchMedia('(prefers-color-scheme: light)');
        lightModeQuery.removeEventListener('change', window.handleThemeChangeEvent);
      }

      if (localStorage.theme === "dark" || localStorage.theme === "light") {
        document.documentElement.setAttribute("data-theme", localStorage.theme);
      } else if (localStorage.theme === "system") {
        setupSystemTheme()
      } else {
        // use the dark theme as our default
        localStorage.theme = "dark"
        document.documentElement.setAttribute("data-theme", "dark");
      }
    </script>
  </head>
  <body class="h-full">
    {@inner_content}
  </body>
</html>
