<% links = sidebar_links(@conn) %>
<%= if links != [] do %>
  <div class="sidebar">
<nav class="">
    <ul class="nav flex-column">
      <%= for link <- links do %>
        <li class="nav-item">
          <a class="nav-link <%= link.active %>" href="<%= link.href %>">
            <span class="fa fa-<%= link.icon %> fa-fw mr-3"></span>
            <span class="text"><%= link.title %></span>
          </a>
        </li>
      <% end %>
    </ul>
</nav>
  </div>
<% end %>
