<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= live_title_tag assigns[:page_title] || "NervesHub" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/languages/bash.min.js"></script>
    <script>hljs.highlightAll();</script>
    <link rel="stylesheet" phx-track-static href={Routes.static_path(@conn, "/css/app.css")}>
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
  </head>

  <body>
    <%= if view_module(@conn) == NervesHubWWWWeb.HomeView do %>
      <div class="home-wrapper">
        <main role="main" class="flex-column">
          <%= if get_flash(@conn, :info) do %>
            <div class="alert alert-info alert-dismissible">
              <div class="content-container">
                <%= get_flash(@conn, :info) %>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
              </div>
            </div>
          <% end %>
          <%= if get_flash(@conn, :error) do %>
            <div class="alert alert-danger alert-dismissible">
              <div class="content-container">
                <%= get_flash(@conn, :error) %>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
              </div>
            </div>
          <% end %>
          <%= @inner_content %>
        </main>
      </div>
    <% else %>
      <div class="normal-wrapper">
        <%= render("_navigation.html", conn: @conn) %>
        <main role="main" class="flex-column content-container">
          <%= if get_flash(@conn, :info) do %>
            <div class="alert alert-info alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= get_flash(@conn, :info) %>
            </div>
          <% end %>
          <%= if get_flash(@conn, :error) do %>
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= get_flash(@conn, :error) %>
            </div>
          <% end %>
          <%= render("_tabnav.html", conn: @conn) %>
          <%= @inner_content %>
        </main>
      </div>
    <% end %>

    <%= render("_footer.html", conn: @conn) %>
    <script>
      window.userToken = "<%= assigns[:user_token] %>"
      window.orgId = "<%= assigns[:org] && Map.get(assigns[:org], :id) %>"
    </script>
    <%= csrf_meta_tag() %>
    <script phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/js/app.js")}></script>
  </body>
</html>
