<%= if err = live_flash(@flash, :error) do %>
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert">&times;</button>
    <%= err %>
  </div>
<% end %>

<%= if info = live_flash(@flash, :info) do %>
  <div class="alert alert-info alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert">&times;</button>
    <%= info %>
  </div>
<% end %>

<%= @inner_content %>