<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <Phoenix.Component.live_title suffix={": " <> Application.get_env(:nerves_hub, :web_title_suffix)}>
      <%= assigns[:page_title] || "Welcome" %>
    </Phoenix.Component.live_title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/languages/bash.min.js">
    </script>
    <script>
      hljs.highlightAll();
    </script>
    <link rel="stylesheet" href={Routes.static_path(@conn, "/css/app.css")} />

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js">
    </script>
    <script>
      window.addEventListener("load", function(){
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#343a40"
          },
          "button": {
            "background": "#f1d600"
          }
        },
        "position": "bottom",
        "content": {
          "message": "NervesHub uses cookies to ensure you get the best experience we can provide."
        }
      })});
    </script>
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet" />
  </head>

  <body>
    <%= @inner_content %>

    <%= render("_footer.html", conn: @conn) %>

    <script>
      window.userToken = "<%= assigns[:user_token] %>"
      window.orgId = "<%= assigns[:org] && Map.get(assigns[:org], :id) %>"
    </script>
    <%= csrf_meta_tag() %>
    <script type="text/javascript" src={Routes.static_path(@conn, "/js/app.js")}>
    </script>
  </body>
</html>
