<h2>New organization</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.org_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.product_path(@conn, :index, @user.username) %></span>
