<%= form_for @changeset, Routes.password_reset_path(@conn, :reset, @token), fn f -> %>
  <p>
    <label>
      New Password:
      <%= password_input f, :password %>
      <%= error_tag f, :password %>
    </label>
  </p>

  <p>
    <label>
      Confirm New Password:
      <%= password_input f, :password_confirmation %>
      <%= error_tag f, :password_confirmation %>
    </label>
  </p>

  <%= submit "Submit" %>
<% end %>
