.row
  .col-3.nhw_chooser
    .row      
      .nhw_list_header
        .row
          .col-8
            All Products
          .col-4.text-right
            %a.action_btn{data-modal-src-url: "#{product_path(@conn, :new)}", data-success-dom-dest: "#product_listing"}
              %span.fa.fa-plus-circle
      .row
      %ul.nhw_list.list-group#product_listing
        = render("_listing.html", conn: @conn, products: @products)
