<h2>Edit organization key</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.org_key_path(@conn, :update, @org.name, @org_key)) %>

<span><%= link "Back", to: Routes.org_key_path(@conn, :index, @org.name) %></span>
