<h2>Show organization keys</h2>

<ul>

</ul>

<span><%= link "Edit", to: Routes.org_key_path(@conn, :edit, @org.name, @org_key) %></span>
<span><%= link "Back", to: Routes.org_key_path(@conn, :index, @org.name) %></span>
