<h1>User Certificate</h1>
<p>
    <%= @user_certificate.description %>
</p>

<%= if not is_nil(@file) do %>
<a href="<%= Routes.account_certificate_path(@conn, :download, @user.username, @user_certificate, file: @file) %>" class="btn btn-primary">Download Certificates</a>
<% end %>
<BR/>
<a href="<%= Routes.account_certificate_path(@conn, :index, @user.username) %>" class="btn btn-secondary">Back</a>
