[Unit]
Description=NervesHub
After=network.target

[Service]
User=deploy
Group=deploy
WorkingDirectory=/home/deploy/nerves_hub/current
Environment=LANG=en_US.UTF-8
EnvironmentFile=/etc/nerves_hub.env
ExecStart=/home/deploy/nerves_hub/current/bin/nerves_hub start
SyslogIdentifier=nerves_hub
RemainAfterExit=no
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
