<Layouts.auth flash={@flash}>
  <:title>
    CLI authentication failed :(
  </:title>
  <:subheader>
    The CLI authentication handshake was invalid and failed. If this was unexpected, please contact support.
  </:subheader>
</Layouts.auth>
