<Layouts.auth flash={@flash}>
  <:title>
    You're all set to use the CLI
  </:title>
  <:subheader>
    You can close this window and use the CLI to interact with your account.
  </:subheader>
</Layouts.auth>
