html {
  .btn {
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    height: 44px;
    padding: .5rem 1rem;
    font-size: 14px;
    min-width: 80px;
    justify-content: center;

    &.btn-outline-light {
      color: white;

      &:hover {
        background-color: transparent;
        border-color: white;
      }
    }

    &:disabled,
    &.disabled {
      opacity: .5;
      cursor: not-allowed;
      pointer-events: none;

      * {
        pointer-events: none;
      }
    }
  }

  .btn-lg {
    height: 54px;
    font-size: 1.125rem;
  }

  .action-text + .button-icon {
    margin-left: .75rem;
  }

  .btn:hover .button-icon {
    opacity: 1;
  }

  .button-icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    opacity: .75;
    transition: opacity 200ms ease;

    & + .action-text {
      margin-left: .75rem;
    }

    &.add {
      background-image: url("/images/icons/add.svg");
    }

    &.power {
      background-image: url("/images/icons/power.svg");
    }

    &.console-icon {
      background-image: url("/images/icons/console.svg");
    }

    &.edit {
      background-image: url("/images/icons/edit.svg");
    }

    &.download {
      background-image: url("/images/icons/download.svg");
    }

    &.delete {
      background-image: url("/images/icons/trash.svg");
    }

    &.quarantine {
      background-image: url("/images/icons/quarantine.svg");
    }

    &.filter {
      background-image: url("/images/icons/filter.svg");
    }
  }

  .btn-filter-show {
    &:focus {
      box-shadow: none;
    }
  }

  .btn-filter-hide {
    border: 2px solid var(--primary);

    &:hover {
      border-color: var(--primary) !important;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .button-submit-wrapper {
    margin-top: 4rem;
    display: flex;
    align-items: center;

    .btn + .btn {
      margin-left: 1.5rem;
    }
  }

  .btn-sm {
    padding: 0.25rem 0.5rem;
    height: auto;
    min-width: 2rem;
  }

  .btn-action {

    @media (max-width: 860px) {
      min-width: 3.5rem;

      .action-text {
        display: none;
      }

      .button-icon {
        margin: 0 !important;
        opacity: 1;
      }
    }
  }
}
