html {
  .btn {
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    height: 44px;
    padding: .5rem 1rem;
    font-size: 14px;
    min-width: 80px;
    justify-content: center;

    &.btn-outline-light {
      color: white;

      &:hover {
        background-color: transparent;
        border-color: white;
      }
    }

    &:disabled,
    &.disabled {
      opacity: .5;
      cursor: not-allowed;
      pointer-events: none;

      * {
        pointer-events: none;
      }
    }
  }

  .btn-lg {
    height: 54px;
    font-size: 1.125rem;
  }

  .button-icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 16px;
    height: 16px;
    margin-left: .75rem;
    display: inline-block;

    &.left-icon {
      margin-left: 0;
      margin-right: .75rem;
    }

    &.add {
      background-image: url("/images/icons/add-75.svg");
    }

    &.power {
      background-image: url("/images/icons/power.svg");
    }

    &.console-icon {
      background-image: url("/images/icons/console.svg");
    }

    &.edit {
      background-image: url("/images/icons/edit.svg");
    }
  }

  .button-submit-wrapper {
    margin-top: 2rem;
    display: flex;
    align-items: center;

    .btn + .btn {
      margin-left: 1.5rem;
    }
  }

  .btn-sm {
    padding: 0.25rem 0.5rem;
    height: auto;
    min-width: 2rem;
  }
}
