$theme-colors: (
  'background': #2a2d30,
  'backgroundDark': #1d1f20,
  'backgroundLight': #303234,
  'black': #191b1c,
  'danger': #c43131,
  'info': #009cde,
  'light': rgba(255, 255, 255, 0.5),
  'primary': rgba(196, 49, 49, 1),
  'primary-75': rgba(196, 49, 49, 0.75),
  'primary-50': rgba(196, 49, 49, 0.5),
  'primary-25': rgba(196, 49, 49, 0.25),
  'primary-medium': #bd6060,
  'primary-light': #cf8a89,
  'primary-muted': #e2b9b9,
  'primaryDark': #653024,
  'success': #ced712,
  'text-dark': #25282a,
  'text-light': #ffffff,
  'warning': #f2a900,
  'border-dark': #303234,
  'white-25': rgba(255, 255, 255, 0.25),
  'white-50': rgba(255, 255, 255, 0.5),
  'white-75': rgba(255, 255, 255, 0.75)
);
