.console {
  font-family: monospace;
  text-align:left;
  font-size: 16px;
  padding: 4px;
  background-color: black;
  color: white;
  overflow: auto;
  height: 400px;
  line-height: 1;
  left: auto;
}

.console-active-line {
  // Somehow fix the active input line spacing here
  line-height: 0;
  text-align: left;
}

.console-input {
  color: inherit;
  font-family: inherit;
  border: none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 75%;
}

.console-input:focus {
  outline: none;
}
