.no-results-blowup-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10vh;
}

.opacity-1 {
  opacity: 1;
}

.divider {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.10);
  margin: 2rem 0;
}

.box-item {
  border: 1px solid var(--white-50);
  border-radius: 4px;
  padding: 1.5rem;
  transition: all 200ms ease;

  &:hover {
    border-color: white;
  }
}

.firmware-key {
  display: grid;
  grid-template-columns: 3rem 1fr min-content;
  grid-column-gap: 1.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;

  &:first-child {
    margin-top: 0;
  }

  & > img {
    margin: auto;
    opacity: .75;
  }

  .key-value {
    font-size: .75rem;
    color: var(--white-50);
    margin-top: .5rem;
  }
}

.dropdown-toggle.options {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 200ms ease;
  opacity: .75;

  &:hover,
  &[aria-expanded="true"] {
    opacity: 1;
  }

  &:after {
    display: none;
  }

  & + .dropdown-menu {
    padding: 1rem;
    border-radius: 4px;
    background-color: var(--background);
    border: 1px solid var(--white-75);

    li {
      color: white;

      &:after {
        display: block;
        margin: 1rem 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        content: '';
      }

      &:last-child:after {
        display: none;
      }
    }
  }
}

.tooltip-label {
  position: relative;

  &:hover {
    .tooltip-info {
      opacity: 1;
    }
  }

  .tooltip-text {
    padding: .5rem;
    background: var(--backgroundDark);
    position: absolute;
    right: -10px;
    top: 0;
    transition: all 200ms ease;
  }

  .tooltip-info,
  .tooltip-icon {
    width: 1rem;
    height: 1rem;
    opacity: .5;
    transition: opacity 200ms ease;
    background-image: url("/images/icons/info.svg");
    background-position: center;
    background-size: 1rem;
    margin-left: .5rem;
  }
}


