.no-results-blowup-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10vh;
}

.opacity-1 {
  opacity: 1;
}

.opacity-75 {
  opacity: .75;
}

.opacity-50 {
  opacity: .5;
}

.opacity-25 {
  opacity: .25;
}

.opacity-0 {
  opacity: 0;
}

.divider {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.10);
  margin: 2rem 0;
}

.box-item {
  border: 1px solid var(--white-50);
  border-radius: 4px;
  padding: 1.5rem;
  transition: all 200ms ease;

  &:hover {
    border-color: white;
  }
}

.firmware-key {
  display: grid;
  grid-template-columns: 3rem 1fr min-content;
  grid-column-gap: 1.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;

  &:first-child {
    margin-top: 0;
  }

  & > img {
    margin: auto;
    opacity: .75;
  }

  .key-value {
    font-size: .75rem;
    color: var(--white-50);
    margin-top: .5rem;
  }
}
.options .dropdown-item {
  color: var(--white-50);
  transition: color 200ms ease;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-weight: bold;
  text-transform: capitalize;

  &:hover {
    color: white;
    background-color: transparent;
  }

  &:focus {
    background-color: transparent;
    outline: none;
  }
}

.dropdown-toggle.options {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 200ms ease;
  opacity: .75;

  &:hover,
  &[aria-expanded="true"] {
    opacity: 1;
  }

  &:after {
    display: none;
  }

  & + .dropdown-menu {
    padding: 0;
    border-radius: 4px;
    background-color: var(--background);
    border: 1px solid var(--white-75);

    li {
      color: white;

      &:after {
        display: block;
        margin: 1rem 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        content: '';
      }

      &:last-child:after {
        display: none;
      }
    }
  }
}

.tooltip-label {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    .tooltip-info {
      opacity: 1;
    }

    .tooltip-text {
      display: block;
    }
  }

  .tooltip-text {
    padding: .5rem;
    background: var(--backgroundDark);
    position: absolute;
    left: 100%;
    top: -.25rem;
    display: none;
    width: 13rem;
    text-transform: none;
    z-index: 1;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
  }

  .tooltip-info {
    width: 2rem;
    height: 1rem;
    opacity: .5;
    transition: opacity 200ms ease;
    background-image: url("/images/icons/info.svg");
    background-position: center;
    background-size: 1rem;
    background-repeat: no-repeat;
  }

  &.help-tooltip {
    .tooltip-info {
      margin-top: -2px;
    }
  }
}

.display-box {
  background: var(--backgroundLight);
  padding: 2.5rem;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.back-link {
  padding-left: 1.5rem;
  background-image: url("/images/icons/arrow-back-red.svg");
  background-position: left 14px;
  background-repeat: no-repeat;
  font-weight: bold;
  display: inline-flex;
  line-height: 44px;
}

.device-meta-grid,
.deployment-meta-grid {
  display: grid;
  grid-template-columns: max-content max-content max-content 1fr;
  grid-column-gap: 7.5rem;

  @media (max-width: 900px) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3.5rem;
    grid-row-gap: 2rem;
  }

  .help-text {
    margin-bottom: .5rem;
  }
}

.firmware-meta-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;

  & > div:first-child {
    grid-column: span 2;
  }

  .help-text {
    margin-bottom: .5rem;
  }

  @media (max-width: 860px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.device-limit-indicator {
  background-image: url("/images/icons/device.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  padding-right: 2rem;
  letter-spacing: 4px;

  @media(max-width: 860px) {
    display: none;
  }
}

html {
  .btn-group > form:not(:first-child) .btn {
    margin-left: -1px;
  }

  .btn-group > form:not(:last-child) .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn-group > form:not(:first-child) .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.failure-rate-grid {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: space-between;
  align-items: center;
}

.action-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;

  & + h1 {
    margin-top: -1.5rem;
  }

  h1 {
    margin-bottom: 0;
  }

  @media(max-width: 860px) {
    margin-bottom: 1rem;

    & + h1 {
      margin-top: 0;
    }
  }
}

@media (max-width: 1000px) and (min-width: 480px) {
  .collapse.deployment-form.show {
    display: grid !important;
  }
}
