.footer {
  background-color: var(--backgroundDark);
  width: 100%;
  z-index: 100;
  display: flex;
  padding: 4rem 0;
  justify-content: center;

  h6 {
    margin-bottom: .35rem;
  }

  & > div {
    padding: 0 1.25rem;
    max-width: 780px;
  }

  a {
    margin: .35rem 0;
  }
}
