html {
  .content-container {
    max-width: calc(1140px + 1.5rem);
    width: 100%;
    padding: 0 1.5rem;
  }

  // Flexbox

  .flex-column,
  .flex-row {
    display: flex;
  }

  .inline-flex {
    display: inline-flex;
  }

  // Margin

  .mt-1 {
    margin-top: .5rem !important;
  }

  .mt-2 {
    margin-top: 1rem !important;
  }

  .mt-3 {
    margin-top: 1.5rem !important;
  }

  .mt-4 {
    margin-top: 2rem !important;
  }

  .mt-5 {
    margin-top: 2.5rem !important;
  }

  .mt-6 {
    margin-top: 3rem !important;
  }

  .mt-7 {
    margin-top: 3.5rem !important;
  }

  .mt-8 {
    margin-top: 4rem !important;
  }

  .mr-1 {
    margin-right: .5rem !important;
  }

  .mr-2 {
    margin-right: 1rem !important;
  }

  .mr-3 {
    margin-right: 1.5rem !important;
  }

  .mr-4 {
    margin-right: 2rem !important;
  }

  .mr-5 {
    margin-right: 2.5rem !important;
  }

  .mr-6 {
    margin-right: 3rem !important;
  }

  .mr-7 {
    margin-right: 3.5rem !important;
  }

  .mr-8 {
    margin-right: 4rem !important;
  }

  .mb-1 {
    margin-bottom: .5rem !important;
  }

  .mb-2 {
    margin-bottom: 1rem !important;
  }

  .mb-3 {
    margin-bottom: 1.5rem !important;
  }

  .mb-4 {
    margin-bottom: 2rem !important;
  }

  .mb-5 {
    margin-bottom: 2.5rem !important;
  }

  .mb-6 {
    margin-bottom: 3rem !important;
  }

  .mb-7 {
    margin-bottom: 3.5rem !important;
  }

  .mb-8 {
    margin-bottom: 4rem !important;
  }

  .ml-1 {
    margin-left: .5rem !important;
  }

  .ml-2 {
    margin-left: 1rem !important;
  }

  .ml-3 {
    margin-left: 1.5rem !important;
  }

  .ml-4 {
    margin-left: 2rem !important;
  }

  .ml-5 {
    margin-left: 2.5rem !important;
  }

  .ml-6 {
    margin-left: 3rem !important;
  }

  .ml-7 {
    margin-left: 3.5rem !important;
  }

  .ml-8 {
    margin-left: 4rem !important;
  }

  // Padding

  .pt-1 {
    padding-top: .5rem !important;
  }

  .pt-2 {
    padding-top: 1rem !important;
  }

  .pt-3 {
    padding-top: 1.5rem !important;
  }

  .pt-4 {
    padding-top: 2rem !important;
  }

  .pt-5 {
    padding-top: 2.5rem !important;
  }

  .pt-6 {
    padding-top: 3rem !important;
  }

  .pt-7 {
    padding-top: 3.5rem !important;
  }

  .pt-8 {
    padding-top: 4rem !important;
  }

  .pr-1 {
    padding-right: .5rem !important;
  }

  .pr-2 {
    padding-right: 1rem !important;
  }

  .pr-3 {
    padding-right: 1.5rem !important;
  }

  .pr-4 {
    padding-right: 2rem !important;
  }

  .pr-5 {
    padding-right: 2.5rem !important;
  }

  .pr-6 {
    padding-right: 3rem !important;
  }

  .pr-7 {
    padding-right: 3.5rem !important;
  }

  .pr-8 {
    padding-right: 4rem !important;
  }

  .pb-1 {
    padding-bottom: .5rem !important;
  }

  .pb-2 {
    padding-bottom: 1rem !important;
  }

  .pb-3 {
    padding-bottom: 1.5rem !important;
  }

  .pb-4 {
    padding-bottom: 2rem !important;
  }

  .pb-5 {
    padding-bottom: 2.5rem !important;
  }

  .pb-6 {
    padding-bottom: 3rem !important;
  }

  .pb-7 {
    padding-bottom: 3.5rem !important;
  }

  .pb-8 {
    padding-bottom: 4rem !important;
  }

  .pl-1 {
    padding-left: .5rem !important;
  }

  .pl-2 {
    padding-left: 1rem !important;
  }

  .pl-3 {
    padding-left: 1.5rem !important;
  }

  .pl-4 {
    padding-left: 2rem !important;
  }

  .pl-5 {
    padding-left: 2.5rem !important;
  }

  .pl-6 {
    padding-left: 3rem !important;
  }

  .pl-7 {
    padding-left: 3.5rem !important;
  }

  .pl-8 {
    padding-left: 4rem !important;
  }

  .p-1 {
    padding: .5rem !important;
  }

  .p-2 {
    padding: 1rem !important;
  }

  .p-3 {
    padding: 1.5rem !important;
  }

  .p-4 {
    padding: 2rem !important;
  }

  .p-5 {
    padding: 2.5rem !important;
  }

  .p-6 {
    padding: 3rem !important;
  }

  .p-7 {
    padding: 3.5rem !important;
  }

  .p-8 {
    padding: 4rem !important;
  }

  .pos-rel {
    position: relative;
  }

  .x3-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    @media (max-width: 1100px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    .grid-item {
      border: 1px solid var(--white-50);
      border-radius: 4px;
      height: 216px;
      padding: 2rem;
      display: flex;
      transition: all 200ms ease;
      flex-direction: column;
      justify-content: space-between;

      &:hover {
        border-color: white;
      }

      h3 {
        word-break: break-all;
      }
    }
  }

  .x4-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    @media (max-width: 860px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  .x2-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    &.deployment-form {
      grid-template-columns: 360px 360px;
      grid-row-gap: 0;
      grid-column-gap: 3rem;

      .form-group:first-child {
        grid-column: span 2;
      }

      @media (max-width: 860px) {
        grid-template-columns: 360px;

        .form-group:first-child {
          grid-column: 1;
        }
      }
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  .gc-span-2 {
    grid-column: span 2;
  }

  .gr-2 {
    grid-row: 2;
  }

  .gc-span-2 {
    grid-column: span 2;
  }

  .gr-2 {
    grid-row: 2;
  }

  .x2-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    &.form {
      grid-template-columns: 360px 360px;
      grid-row-gap: 0;
      grid-column-gap: 3rem;
    }
  }

  .gc-span-2 {
    grid-column: span 2;
  }
}

