@media (min-width: 480px) and (max-width: 1000px) {
  .collapse {
    display: none !important;
  }
}

nav.navbar {
  background-color: var(--bs-backgroundDark);
  height: 5rem;
  padding: 0;

  @media (max-width: 860px) {
    height: 4rem;

    &.navbar-expand {
      .navbar-nav .nav-item > .dropdown-menu {
        position: fixed;
        top: 4rem;
        left: 0;
        right: 0;
        height: calc(100vh - 4rem);
        overflow-y: auto;

        .dropdown-divider {
          border-width: 2px;
        }
      }

      .dropdown-menu .dropdown-menu {
        position: relative;
        display: block;
        border: none;

        .dropdown-divider,
        .btn,
        .help-text {
          display: none;
        }

        .dropdown-item {
          padding-left: 2.5rem;

          &:before {
            width: 0.4rem;
            height: 0.4rem;
            border-radius: 100%;
            background-color: var(--bs-primary);
            content: '';
            display: inline-block;
            margin-right: 1rem;
          }
        }
      }
    }
  }
}

.dropdown .dropdown-menu {
  background-color: var(--bs-backgroundDark);
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  border: 1px solid #5b5d5f;
  width: 100%;
  margin-top: -2px;

  @media (max-width: 860px) {
    border: none;
    border-top: 1px solid #5b5d5f;
  }

  .dropdown-divider {
    border-color: rgba(255, 255, 255, 0.1);
    margin: 0;
    padding: 0;
  }

  .help-text {
    background-color: var(--bs-backgroundDark);
    margin-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
  }
}

.dropdown-toggle:focus {
  outline: none;
}

.dropdown-toggle.nav-link {
  &:after {
    background-image: url('/images/icons/dropdown-25.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    height: 16px;
    left: 4px;
    position: relative;
    top: 6px;
    width: 16px;
  }

  &.arrow-primary:after {
    background-image: url('/images/icons/dropdown-red.svg');
  }
}

.nav-item .dropdown-item {
  color: var(--bs-white-50);
  transition: all 200ms ease;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  font-weight: bold;
  background: var(--bs-backgroundDark);

  &:focus {
    background: none;
    color: white;
    outline: none;
  }

  &:hover {
    color: white;
    background-color: var(--bs-backgroundLight);
  }

  &.active {
    color: white;
    background-color: var(--bs-backgroundLight);

    .active-checkmark {
      width: 1.25rem;
      height: 1.25rem;
      margin-left: 0.5rem;
      background-image: url('/images/icons/check.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &.org {
    background-image: url('/images/icons/arrow-forward-red.svg');
    background-repeat: no-repeat;
    background-size: 0.875rem;
    background-position: right 1.5rem center;

    @media (max-width: 860px) {
      background-image: none;
    }
  }

  &.dropdown-toggle:after {
    display: none;
  }

  @media (max-width: 860px) {
    padding: 1rem 1.5rem;
  }
}

.navbar-dark.navbar-expand .navbar-nav .nav-link {
  padding: 1rem 1.5rem;
  border: 1px solid transparent;
  transition: all 200ms ease;

  &[aria-expanded='true'] {
    border: 1px solid var(--bs-white-25);
    border-radius: 5px 5px 0 0;

    @media (max-width: 860px) {
      border-radius: 0;
      background: rgba(255, 255, 255, 0.05);
    }
  }

  &.org-select {
    font-size: 1.125rem;
    font-weight: 700;
    color: white;
    min-width: 340px;

    @media (max-width: 860px) {
      min-width: 0;
      font-size: 0.875rem;
      height: 4rem;
    }
  }

  &.user-menu {
    color: var(--bs-white-75);
    min-width: 208px;
    text-align: right;
    height: 4rem;

    span {
      display: inline-block;
    }

    img {
      display: none;
    }

    @media (max-width: 860px) {
      min-width: 0;

      &:after,
      span {
        display: none;
      }

      img {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        opacity: 0.75;
      }
    }
  }

  .workspace-divider {
    padding: 0 0.5rem;
    color: var(--bs-primary-75);

    @media (max-width: 860px) {
      padding: 0 0.25rem;
    }
  }
}

.logo {
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 3rem;
  margin-right: 1.5rem;

  img:first-child {
    display: block;
  }

  img:last-child {
    display: none;
  }

  @media (max-width: 860px) {
    padding-right: 1.5rem;

    img:first-child {
      display: none;
    }

    img:last-child {
      display: block;
    }
  }
}

.tab-bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 2rem;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-item {
    margin-right: 2.75rem;

    @media (max-width: 1100px) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .nav-link {
    color: white;
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    height: 76px;
    display: flex;
    align-items: center;
    padding: 0 1.25rem;

    @media (max-width: 1100px) {
      height: 60px;
    }

    &:after {
      display: block;
      position: absolute;
      background-color: var(--bs-primary);
      height: 3px;
      bottom: -2px;
      border-radius: 3px;
      left: 0;
      right: 0;
      content: '';
      opacity: 0;
      transition: opacity 200ms ease;
    }

    &:hover:after {
      opacity: 0.66;
    }

    &.active {
      font-weight: bold;

      &:after {
        opacity: 1;
      }
    }
  }

  .nav {
    display: flex;
    flex-direction: row;

    @media (max-width: 860px) {
      .nav-link {
        font-size: 12px;
        padding: 0 0.75rem;
      }
    }
  }
}

@media (min-width: 861px) {
  .navbar-nav .dropdown-submenu:hover > ul.dropdown-menu {
    display: block;
  }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu > .dropdown-menu {
    top: calc(-3.25rem - 1px);
    left: 100%;
  }
}

.all-nav-link {
  padding: 1.5rem 1.5rem 0.5rem;
  display: block;
  font-size: 14px;
}
