.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0 !important;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: #636363;
  font-family: 'Varela', sans-serif;
  border-right: $nav-color solid 1px;
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 70px; /* Height of navbar */
  height: calc(100vh - 70px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-size: 14px;
  color: #FFF;
}

.sidebar .nav-link.active {
  background-color: #DFDFDF !important;
  color: #343A40;
}

.sidebar .nav-link:hover {
  background-color: rgb(158, 158, 158);
  color: inherit;
}

@media only screen and (max-width: 680px) {
  .sidebar {
    max-width: 55px;
    min-width: 55px;
    .text {
      display: none;
    }
  }
}
