body {
  h1,
  .h1 {
    font-size: 2.875rem;
    font-weight: 900;
    text-transform: capitalize;
    color: white;
    line-height: 3.7rem;
    margin: 0 0 1.5rem;

    @media (max-width: 860px) {
      font-size: 2.5rem;
      line-height: 3.2rem;
    }
  }

  h2,
  .h2 {
    font-size: 2.125rem;
    font-weight: 900;
    color: var(--bs-text-dark);
    opacity: 0.4;
    line-height: 2.7rem;
    margin: 0;
  }

  h3,
  .h3 {
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
    line-height: 1.9rem;
    margin: 0;

    & + p {
      margin-top: 1rem;
    }

    @media (max-width: 860px) {
      font-size: 1.25rem;
      line-height: 1.625rem;
    }
  }

  h4,
  .h4,
  .subtitle {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--bs-text-dark);
    line-height: 1.9rem;
    margin: 0;

    @media (max-width: 860px) {
      font-size: 1.25rem;
      line-height: 1.625rem;
    }
  }

  h5,
  .h5 {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--bs-white-50);
    line-height: 1.75rem;
  }

  h6,
  .h6,
  .label {
    color: var(--bs-white-50);
    font-size: 0.75rem;
    font-weight: 300;
    margin: 0;
  }

  p,
  .body-text,
  .p {
    font-size: 1.125rem;
    font-weight: 500;
    color: white;
    line-height: 1.5rem;

    &:last-child {
      margin: 0;
    }

    & + h3 {
      margin-top: 2rem;
    }
  }

  .body-text-small,
  .p-small {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--bs-white-75);
    line-height: 1.2rem;
  }

  .help-text {
    font-size: 0.875rem;
    color: var(--bs-white-50);
    font-weight: 300;

    &.large {
      font-size: 1.125rem;
      font-weight: 500;
      color: var(--bs-white-50);
    }
  }

  a {
    color: white;
    transition: color 200ms ease;
    font-weight: 500;
    text-decoration: none;

    &.inline {
      color: var(--bs-primary-light);

      &:hover {
        color: var(--bs-primary-medium);
      }
    }

    &:hover {
      color: var(--bs-primary-light);
      text-decoration: none;
    }
  }

  .color-primary {
    color: var(--bs-primary) !important;
  }

  .color-white {
    color: white !important;
  }

  .color-white-50 {
    color: var(--bs-white-50);
  }

  .text-muted {
    color: rgba(255, 255, 255, 0.65) !important;
  }

  .fw-b {
    font-weight: bold;
  }

  .ta-c {
    text-align: center;
  }

  .tt-u {
    text-transform: uppercase;
  }

  .tt-c {
    text-transform: capitalize;
  }

  .tt-c-first-letter:first-letter {
    text-transform: capitalize;
  }

  .wb-ba {
    word-break: break-all;
  }

  .ff-m {
    font-family: monospace;
  }
}
