body {
  h1,
  .h1 {
    font-size: 46px;
    font-weight: 900;
    text-transform: capitalize;
    color: white;
    line-height: 59px;
    margin: 0 0 1.5rem;
  }

  h2,
  .h2 {
    font-size: 34px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--text-dark);
    opacity: .4;
    line-height: 43px;
    margin: 0;
  }

  h3,
  .h3 {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    line-height: 30px;
    margin: 0;
  }

  h4,
  .h4,
  .subtitle {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--text-dark);
    line-height: 30px;
    margin: 0;
  }

  h5,
  .h5 {
    font-size: 18px;
    font-weight: 500;
    color: var(--white-50);
  }

  h6,
  .h6,
  .label {
    color: var(--white-50);
    font-size: .75rem;
    font-weight: 300;
    margin: 0;
  }

  p,
  .body-text,
  .p {
    font-size: 18px;
    font-weight: 500;
    color: white;
    line-height: 24px;

    &:last-child {
      margin: 0;
    }
  }

  .body-text-small,
  .p-small {
    font-size: 14px;
    font-weight: 400;
    color: var(--white-75);
    line-height: 19px;
  }

  .help-text {
    font-size: 14px;
    color: var(--white-50);
    font-weight: 300;

    &.large {
      font-size: 18px;
      font-weight: 500;
      color: var(--white-50);
    }
  }

  a {
    color: white;
    transition: color 200ms ease;
    font-weight: 500;

    &.inline {
      color: var(--primary-50);

      &:hover {
        color: var(--primary-75);
      }
    }

    &:hover {
      color: var(--primary-50);
      text-decoration: none;
    }
  }

  .strong {
    font-weight: bold;
  }

  .align-center {
    text-align: center;
  }

  .color-primary {
    color: var(--primary) !important;
  }

  .color-white {
    color: white !important;
  }

  .color-white-50 {
    color: var(--white-50);
  }
}
