$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "custom";
@import "navigation";
@import "home";
@import "~bootstrap/scss/bootstrap";

logo-font {
  font-family: 'Varela Round', sans-serif;
}

body {
  background-color: #827f7d;
}

main {
  background-color: #595551;
  padding: 140px 5%;
  font-family: 'Varela', sans-serif;
  color: whitesmoke;
}

.panel-body {
  margin-top: 20px;
}

.footer {
  padding: 0px 5%;
  margin-top: 10px;
  height: 80px;
}

.footer a {
  display: block;
  font-size: 14px;
  @extend .text-dark;
  @include hover-focus {
    color: whitesmoke;
  }  
}  
 
.modal-content {
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  background-color: white;
  width: 70%;
  color: #343a40;
  margin: auto;
  min-width: 600px;
  box-shadow: 5px 5px 5px #333;
}

.modal-header {
  background-color: #343a40;
  color: white;
}

.modal-footer {
  background-color: whitesmoke;
  padding-top: 14px;
}