$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@import "~xterm/css/xterm.css";
@import "audit_log_feed";
@import "console";
@import "layout";
@import "colors";
@import "typography";
@import "buttons";
@import "form";
@import "navigation";
@import "sidebar";
@import "home";
@import "custom";
@import "footer";
@import "table";
@import "modal";
@import "~bootstrap/scss/bootstrap";

html {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: auto;
}

body {
  background-color: var(--background);
  font-family: 'Montserrat', sans-serif;
  color: white;
  height: 100%;
  position: relative;
  padding-top: 5rem;

  &.modal-open {
    padding-right: 0 !important;
  }

  @media (max-width: 860px) {
    padding-top: 4rem;
  }
}

html {
  main.content-container {
    margin: 0 auto;
    padding-bottom: 8rem;
    min-height: calc(100vh - 80px);
  }
}

.badge {
  height: 36px;
  background-color: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.05);
  padding: .75rem;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  overflow: hidden;
  position: relative;
  margin-right: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;

  &.healthy-false {
    background-color: var(--primary-25);

    &:hover {
      color: white;
      background-color: var(--primary-50);
    }
  }

  &.active:after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    left: 0;
    right: 0;
    background: white;
  }

  &:last-child {
    margin-right: 0;
  }
}

.quarantined {
  background-image: url("/images/icons/error.svg");
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: right .5rem center;
  padding-right: 2.5rem;
}

.alert {
  margin: 2rem 0;
  border-color: transparent;
  color: white;
  font-weight: 500;

  &.alert-info {
    background-color: var(--info);
  }

  &.alert-danger {
    background-color: var(--danger);
  }

  &.alert-warning {
    background-color: var(--warning);
  }
}
