$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@import "~xterm/css/xterm.css";
@import "audit_log_feed";
@import "console";
@import "layout";
@import "colors";
@import "typography";
@import "buttons";
@import "form";
@import "navigation";
@import "sidebar";
@import "home";
@import "custom";
@import "footer";
@import "table";
@import "modal";
@import "~bootstrap/scss/bootstrap";

html {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: auto;
}

body {
  background-color: var(--background);
  font-family: 'Montserrat', sans-serif;
  color: white;
  height: 100%;
  position: relative;
  margin-top: 80px;

  &.modal-open {
    padding-right: 0 !important;
  }
}

html main.content-container {
  margin-bottom: 8rem;
  min-height: 100%;
}

.badge {
  height: 36px;
  background: rgba(255,255,255,0.05);
  padding: 10px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
}

.alert {
  margin: 2rem 0;
  border-color: transparent;
  color: white;
  font-weight: 500;

  &.alert-info {
    background-color: var(--info);
  }

  &.alert-danger {
    background-color: var(--danger);
  }

  &.alert-warning {
    background-color: var(--warning);
  }
}
