$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
@import "custom";
@import "~bootstrap/scss/bootstrap";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
  min-width: 800px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: auto;
}

.wrapper {
    overflow-x:hidden;
}
.modal-header {
  background-color: $dark_background;
    font-family: 'Audiowide', cursive;
    font-size: 18px;
    color: white;
}
.nhw_chooser {
}
.nhw_list_header {
  @include  make-col(12);
  margin-left: 10px;
  padding-left: 10px;
  background-color: $hilight_background;
  color: $hilight;
  a {
      color: $hilight;
    font-variant: small-caps;
      font-style: oblique;
  }
  line-height: 22px;
  height: 26px;
  padding-right: 5px;
  flex-basis: 100%;
}

.nhw_list {
  @include  make-col(12);
  margin-left: 10px;
  border: 2px solid $hilight_background;
  flex-basis: 100%;
  height: 100%;
}

a.nh_std_btn {
  @extend .btn,.btn-primary;
  display: inline-block;
  background-color: $dark_background;
  color: $dark_text;
  border-color: $dark_text;
}

.right {
  text-align: right;
}

.logo {
  color: $dark_text;
  a {
    font-family: 'Audiowide', cursive;
    color: $dark_text;
    font-size: 32px;
    line-height: 56px;
    margin-top: 8px;
    padding: 9px;
  }
  a:visited {
    color: #555;
  }
  a:hover {
    text-decoration: none;
  }
}

#header {
  background-color: $light_background;
  height: 54px;
  left: 0;
  right: 0;
  z-index: 16;
  a {
    margin: 10px;
  }
  .hilight {
    font-size: 18px;
    font-weight: 800;
    font-variant: small-caps;
    color: $hilight;
  }
}

#footer {
  background-color: $light_background;
  color: $dark_text;
  clear:both;
  font-family: 'Helvetica', sans-serif;
  font-weight:800;
  font-size:14px;
  border-top-width:1px;
  border-top-color:$dark_text;
  border-top-style:solid;
  width: 100%;
  margin-top: -27px; /* negative value of footer height */
  height: 32px;
  position: absolute;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 6px;
  a {
    color: $dark_text;
    text-decoration: underline;
  }
  .big_icons a {
    text-decoration: none;  
  }
}

.content {
  h3 {
    padding-top: 24px;
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
    line-height: 1.5;
  }
  font-family: 'Lora', 'Times New Roman', serif;
  color: #4f4f4f;
  word-wrap: break-word;
  font-size: 32px;
  padding: 15px;
}

#contents {
  margin-top: 10px;
}

#wrapper {
  min-height: 100%;
  position: relative;
  top: 0;
  left: 0;
  bottom: 24px;
  overflow:auto;
  right: 0;
}
.big_icons {
  font-size: 22px;
  margin-top: -6px;
}
#main {
}
