$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome'; 
@import '~@fortawesome/fontawesome-free/scss/solid'; 
@import '~@fortawesome/fontawesome-free/scss/regular'; 
@import '~@fortawesome/fontawesome-free/scss/brands'; 

@import "custom";
@import "navigation";
@import "home";
@import "~bootstrap/scss/bootstrap";

logo-font {
  font-family: 'Varela Round', sans-serif;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: auto;
}

body {
  background-color: $light-background;
  min-height: 100%;
  position: relative;
}

main {
  padding: 140px 5%;
  font-family: 'Varela', sans-serif;
  color: whitesmoke;
  bottom: 122px;
}

.panel-body {
  margin-top: 20px;
}

.footer {
  background-color: #827f7d;
  padding: 0px 5%;
  margin-top: 10px;
  width: 100%;
  position: absolute;
  height: 122px;
  bottom: 0px;
}

.footer a {
  display: block;
  font-size: 14px;
  @extend .text-dark;
  @include hover-focus {
    color: whitesmoke;
  }  
}  
 
.modal-content {
  @extend .text-dark;
  font-size: 18px;
  background-color: white;
  width: 70%;
  margin: auto;
  min-width: 600px;
}

.modal-header {
  @extend .bg-dark;
  color: white;
}

.modal-footer {
  background-color: whitesmoke;
  padding-top: 14px;
}

.nhw_list {
  @extend .text-dark;
  background-color: $accent-color;
  padding: 0 0 6px 0;
  a {
    @extend .text-dark;
  }
  .header {
    @include  make-col(12);
    padding: 0 5px 0 10px;
    line-height: 30px;
    height: 26px;
  }
  ul {
    @include  make-col(12);
    li {
      margin: 2px;
      padding: 15px 0 15px 5px;
      span {
        margin-right: 3px;
      }
    }
  }
}

