.content
  .row
    .col-3
      %img{src: "images/logo.png"}
    .col-9
      %h1
        Welcome to NervesHub!
      %h3
        A domain independent back end solution for rolling out software updates to edge devices connected to IP based networking infrastructure.
