<NervesHubWeb.Layouts.sidebar flash={@flash} current_scope={@current_scope} sidebar_tab={@sidebar_tab}>
  <:top_bar>
    <.breadcrumb navigate={~p"/org/#{@org}/#{@product}/deployment_groups"} root_label="All Deployment Groups">
      <:crumb>{@deployment_group.name}</:crumb>
    </.breadcrumb>

    <div class="mr-6 ml-auto flex items-center gap-2">
      <.button
        :if={authorized?(:"deployment_group:toggle", @current_scope)}
        aria-label={"#{(@deployment_group.is_active && "Pause") || "Resume"} deployment"}
        type="button"
        phx-click="toggle"
        data-confirm={"Are you sure you want to #{(@deployment_group.is_active && "pause") || "resume"} the deployment?"}
      >
        <.icon name="power" />{(@deployment_group.is_active && "Pause") || "Resume"}
      </.button>
    </div>
  </:top_bar>

  <:big_header>
    <div class="flex items-center gap-3">
      <svg
        data-is-active={(@deployment_group.is_active && "true") || "false"}
        class="size-3 data-[is-active=false]:fill-base-500 data-[is-active=true]:fill-success"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 6 6"
        fill="currentColor"
      >
        <circle cx="3" cy="3" r="3" />
      </svg>
      <h1 class="text-xl leading-[30px] font-semibold text-base-50">
        {@deployment_group.name}
      </h1>
      <div
        :if={@deployment_group.current_release.delta_status == :preparing}
        phx-remove={JS.hide(transition: {"ease-in duration-1000", "opacity-100", "opacity-0"}, blocking: false)}
        class="pulsing-div flex items-center gap-1 rounded-full border border-base-700 bg-notice py-0.5 pr-3 pl-2.5"
      >
        <span class="text-xs text-base-50">Preparing: Generating Deltas</span>
      </div>

      <div
        :if={@deployment_group.current_release.delta_status == :failed}
        class="rounded border border-alert bg-base-800 px-2 py-1 text-xs text-alert"
      >
        Error: Deltas failed to generate
      </div>
    </div>

    <div class="flex items-center gap-2">
      <.link
        navigate={~p"/org/#{@org}/#{@product}/devices?deployment_id=#{@deployment_group.id}"}
        class="flex h-7 cursor-pointer items-center rounded bg-base-800 px-2 py-1 transition-colors hover:bg-base-700"
      >
        <span class="mr-1 text-sm text-base-400">Devices:</span>

        <div class="flex items-center">
          <span class="mr-1 text-sm text-base-300">{@deployment_group.device_count || 0}</span>
        </div>
      </.link>

      <div class="flex h-7 items-center rounded bg-base-800 px-2 py-1">
        <span class="mr-1 text-sm text-base-400">Platform:</span>

        <div class="flex items-center">
          <span class="mr-1 font-mono text-sm text-base-300">{@deployment_group.current_release.firmware.platform}</span>
        </div>
      </div>

      <div class="flex h-7 items-center rounded bg-base-800 px-2 py-1">
        <span class="mr-1 text-sm text-base-400">Arch:</span>

        <div class="flex items-center">
          <span class="mr-1 font-mono text-sm text-base-300">{@deployment_group.current_release.firmware.architecture}</span>
        </div>
      </div>
    </div>
  </:big_header>

  <:tabbed_nav label="Summary" selected={@tab == :summary} path={~p"/org/#{@org}/#{@product}/deployment_groups/#{@deployment_group}"} />
  <:tabbed_nav label="Releases" selected={@tab == :releases} path={~p"/org/#{@org}/#{@product}/deployment_groups/#{@deployment_group}/releases"} />
  <:tabbed_nav label="Activity" selected={@tab == :activity} path={~p"/org/#{@org}/#{@product}/deployment_groups/#{@deployment_group}/activity"} />
  <:tabbed_nav label="Settings" selected={@tab == :settings} path={~p"/org/#{@org}/#{@product}/deployment_groups/#{@deployment_group}/settings"} />

  <div class="flex h-0 flex-1 flex-col overflow-y-auto">
    <.live_component
      :if={@tab == :summary}
      module={SummaryTab}
      id="deployment_group_summary"
      deployment_group={@deployment_group}
      current_scope={@current_scope}
      flow={@flow}
      flow_nodes={node_types()}
      awaiting_approval={@awaiting_approval}
      failed_step={@failed_step}
    />

    <.live_component
      :if={@tab == :releases}
      module={ReleasesTab}
      id="deployment_group_releases"
      deployment_group={@deployment_group}
      current_scope={@current_scope}
      time_zone={@time_zone}
    />

    <.live_component :if={@tab == :activity} module={ActivityTab} id="deployment_group_activity" deployment_group={@deployment_group} current_scope={@current_scope} time_zone={@time_zone} />

    <.live_component :if={@tab == :settings} module={SettingsTab} id="deployment_group_settings" deployment_group={@deployment_group} current_scope={@current_scope} />
  </div>
</NervesHubWeb.Layouts.sidebar>
