<p> <a href="<%= device_path(@conn, :index) %>">Manage Devices</a> </p>
<p> <a href="<%= firmware_path(@conn, :index) %>">Manage Firmware</a> </p>
<p> <a href="#">Manage Updates</a> </p>
<p> <a href="<%= account_path(@conn, :edit) %>">Settings</a> </p>
<p> <a href="<%= tenant_path(@conn, :edit) %>">Tenant Settings</a> </p>
