<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NervesHub</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="logo" href="<%= session_path(@conn, :new) %>">
              <span class="logo-letter">NervesHub</span>
            </a>
          </div>

          <%= if logged_in?(@conn) do %>
            <ul class="nav navbar-nav">
              <%= for {name, path} <- navigation_links(@conn) do %>
                <li class="<%= if @conn.request_path == path, do: "active", else: "" %>">
                  <a class="nav-link" href="<%= path %>"><%= name %></a>
                </li>
              <% end %>
            </ul>
            <div class="nav navbar-nav navbar-right">
              <a class="btn btn-light navbar-btn" href="<%= session_path(@conn, :delete)%>">
                Log Out
              </a>
            </div>
          <% end %>
        </div>
      </nav>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <hr style="border-top-width: 2px; margin-top: 48px">

      <p class="h3 text-muted text-center logo-font" style="opacity: 0.2">
        NervesHub
      </p>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
