<p>
  Enter the email address of the user you would like to invite to <%= @tenant.name %>.
  Invites will expire in 48 hours.
<p>

<%= form_for @changeset, tenant_path(@conn, :send_invite), fn f -> %>

  <p>
    <label>
      Name:
      <%= text_input f, :name %>
      <%= error_tag f, :name %>
    </label>
  </p>

  <p>
    <label>
      Email:
      <%= text_input f, :email %>
      <%= error_tag f, :email %>
    </label>
  </p>

  <%= submit "Send Invite" %>
<% end %>
