<Layouts.auth title="Please confirm your email" flash={@flash}>
  <div class="mt-8">
    <p class="mt-2 text-sm/6 text-zinc-300">
      Your new account was created successfully!
    </p>

    <p class="mt-2 text-sm/6 text-zinc-300">
      An email was sent to has been sent to <span class="text-neutral-50 underline">{@email}</span> with a link to confirm your account.
    </p>
  </div>
</Layouts.auth>
