.row
  .col-3.nhw_chooser
    .row      
      .nhw_list_header
        .row
          .col-8
            %a{href: "#{product_path(@conn, :index)}"}
              PRODUCTS
          .col-4.text-right
            %a{href: "#{product_path(@conn, :new)}"}
              %span.fa.fa-plus-circle
      .row
      %ul.nhw_list.list-group#product_listing
        = render(NervesHubWWWWeb.ProductView, "_listing.html", conn: @conn, products: @products)
  .col-8
