<%= if @console_available == true do %>
  <input id="device_id" hidden type="text" value="<%= @device.id %>">
  <div id="terminal" class="console"></div>
  <button class="btn btn-danger" id="restart_button">Restart</button>
<% else %>
  <h2>Console disabled or unavailable
<% end %>
