<!DOCTYPE html>
<html lang="en" id="console-html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= @device.identifier %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
  </head>

  <body id="console-body">
    <%= @inner_content %>

    <script>
      window.userToken = "<%= assigns[:user_token] %>"
    </script>
    <%= csrf_meta_tag() %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/console.js") %>"></script>
  </body>
</html>
