<Layouts.auth flash={@flash}>
  <:title>
    Time to check your email
  </:title>
  <div class="mt-8">
    <p class="mt-2 text-sm/6 text-zinc-300">
      If your email is recognized, you will receive instructions to reset your password shortly.
    </p>
  </div>
</Layouts.auth>
