## Allocator strategy: address-order best-fit, helps fragmentation
+MBas aoffcbf
+MHas aoffcbf
+MBacul 0
+MHacul 0

## Reduce sys_alloc calls by sizing carriers appropriately
+MBlmbcs 512
+MHlmbcs 512
+MBsmbcs 256
+MHsmbcs 256
