<p>Hi <%= @user.username %>,</p>

<p>We received a request to reset your password on <%= base_url() %>. Click on the link below to begin:</p>

<a href="<%= "#{base_url()}/password-reset/#{@user.password_reset_token}"%>">Reset Password</a>

<%= raw(closing()) %>
