<p>Welcome!</p>
<p>You've been added to the <strong><%= @org.name %></strong> organization on <%= base_url() %>.</p>

<p><a href="<%= "#{base_url()}/login" %>">Login</a> to view it's details.</p>

<%= raw(closing()) %>
